<h1>Thêm Môn học</h1>

<form action="/add" method="POST">
    ID: <input type="text" name="ID" ><br>
    MaMH: <input type="text" name="MaMH" ><br>
    TenMH: <input type="text" name="TenMH" ><br>
    description: <input type="text" name="description" ><br>
    <button type="submit">Thêm môn học</button>
</form>